<div class="container">

    <div class="row mt-4">
      <div class="col-lg-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <nav>
      <a class="btn btn-primary text-white" routerLink="/comunidad">Comunidad</a>
      <a class="btn btn-danger text-white" routerLink="/provincias">Provincias</a>
      <a class="btn btn-success text-white" routerLink="/municipios">Municipios</a>
      <a class="btn btn-info text-white" routerLink="/grafico">Gráficos de Barras</a>
      <a class="btn btn-warning text-white" routerLink="/graficos-circulares">Gráficos Circulares</a>
    </nav>
    <router-outlet></router-outlet>

</div>
